VITE_SUPABASE_URL=https://ojcxclvceacfcstklurt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qY3hjbGN2ZWFjY2ZzdGtsdXJ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODcwMjI1NCwiZXhwIjoyMDY0Mjc4MjU0fQ.yb6g7as3EDSmfQf_KooF3hlIpepPOIbTKuCQcXX7al0
VITE_SITE_URL=https://portfolio-fady-fathey.vercel.app
VITE_CALENDLY_URL=https://calendly.com/fadyfathymaher3/30min
